body {
  background-color: rgba(255,255,255,0.631);
  color: rgba(0,0,0,0.79);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  padding-left: 27px;
}
h1 {
  font-size: 1.2rem;
}
