[submodule "Extensions/Foundation"]
	path = Extensions/Foundation
	url = https://github.com/PromiseKit/Foundation.git
[submodule "Extensions/UIKit"]
	path = Extensions/UIKit
	url = https://github.com/PromiseKit/UIKit.git
[submodule "Extensions/Accounts"]
	path = Extensions/Accounts
	url = https://github.com/PromiseKit/Accounts.git
[submodule "Extensions/MessagesUI"]
	path = Extensions/MessagesUI
	url = https://github.com/PromiseKit/MessagesUI.git
[submodule "Extensions/WatchConnectivity"]
	path = Extensions/WatchConnectivity
	url = https://github.com/PromiseKit/WatchConnectivity.git
[submodule "Extensions/Photos"]
	path = Extensions/Photos
	url = https://github.com/PromiseKit/Photos.git
[submodule "Extensions/MapKit"]
	path = Extensions/MapKit
	url = https://github.com/PromiseKit/MapKit.git
[submodule "Extensions/CloudKit"]
	path = Extensions/CloudKit
	url = https://github.com/PromiseKit/CloudKit.git
[submodule "Extensions/AddressBook"]
	path = Extensions/AddressBook
	url = https://github.com/PromiseKit/AddressBook.git
[submodule "Extensions/AssetsLibrary"]
	path = Extensions/AssetsLibrary
	url = https://github.com/PromiseKit/AssetsLibrary.git
[submodule "Extensions/CoreLocation"]
	path = Extensions/CoreLocation
	url = https://github.com/PromiseKit/CoreLocation.git
[submodule "Extensions/QuartzCore"]
	path = Extensions/QuartzCore
	url = https://github.com/PromiseKit/QuartzCore.git
[submodule "Extensions/Social"]
	path = Extensions/Social
	url = https://github.com/PromiseKit/Social.git
[submodule "Extensions/StoreKit"]
	path = Extensions/StoreKit
	url = https://github.com/PromiseKit/StoreKit.git
[submodule "Extensions/Bolts"]
	path = Extensions/Bolts
	url = https://github.com/PromiseKit/Bolts.git
[submodule "Extensions/CoreBluetooth"]
	path = Extensions/CoreBluetooth
	url = https://github.com/PromiseKit/CoreBluetooth.git
[submodule "Extensions/EventKit"]
	path = Extensions/EventKit
	url = https://github.com/PromiseKit/EventKit.git
[submodule "Extensions/SystemConfiguration"]
	path = Extensions/SystemConfiguration
	url = https://github.com/PromiseKit/SystemConfiguration
[submodule "Extensions/Alamofire"]
	path = Extensions/Alamofire
	url = https://github.com/PromiseKit/Alamofire
[submodule "Extensions/OMGHTTPURLRQ"]
	path = Extensions/OMGHTTPURLRQ
	url = https://github.com/PromiseKit/OMGHTTPURLRQ
[submodule "Extensions/AVFoundation"]
	path = Extensions/AVFoundation
	url = https://github.com/PromiseKit/AVFoundation
