# - `pod lib lint` weirdness explanation: https://github.com/CocoaPods/CocoaPods/issues/7123
# - In Travis `cd foo` returns non-zero exit, hence `set +e` before changing directory
# - We need a newer version of npm in order to assemble our JS/A+ tests

branches:
  only: 
    - master
stages:
  - test
  - name: deploy
    script: pod trunk push --verbose --swift-version=4.2 | ruby -e 'ARGF.each{ print "." }'
    os: osx
    osx_image: xcode10
    language: objective-c
    on:
      tags: true
matrix:
  include:
    - {osx_image: xcode8.3, env: 'SWFT=3.1  PLAT=iOS      DST="OS=10.3.1,name=iPhone SE"',                os: osx, language: objective-c}
    - {osx_image: xcode8.3, env: 'SWFT=3.1  PLAT=tvOS     DST="OS=10.2,name=Apple TV 1080p"',             os: osx, language: objective-c}
    - {osx_image: xcode8.3, env: 'SWFT=3.1  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode8.3, env: 'SWFT=3.1  PLAT=watchOS  DST="OS=3.2,name=Apple Watch - 38mm"',          os: osx, language: objective-c}

    - {osx_image: xcode9.2, env: 'SWFT=3.2  PLAT=iOS      DST="OS=11.2,name=iPhone SE"',                  os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=3.2  PLAT=tvOS     DST="OS=11.2,name=Apple TV"',                   os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=3.2  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=3.2  PLAT=watchOS  DST="OS=4.2,name=Apple Watch - 38mm"',          os: osx, language: objective-c}

    - {osx_image: xcode9.4, env: 'SWFT=3.3  PLAT=iOS      DST="OS=11.4,name=iPhone SE"',                  os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=3.3  PLAT=tvOS     DST="OS=11.4,name=Apple TV"',                   os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=3.3  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=3.3  PLAT=watchOS  DST="OS=4.3,name=Apple Watch - 38mm"',          os: osx, language: objective-c}

    - {osx_image: xcode10,  env: 'SWFT=3.4  PLAT=iOS      DST="OS=12.0,name=iPhone SE"',                  os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=3.4  PLAT=tvOS     DST="OS=12.0,name=Apple TV"',                   os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=3.4  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=3.4  PLAT=watchOS  DST="OS=5.0,name=Apple Watch Series 3 - 42mm"', os: osx, language: objective-c}

    - {osx_image: xcode9.2, env: 'SWFT=4.0  PLAT=iOS      DST="OS=11.2,name=iPhone SE"',                  os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=4.0  PLAT=tvOS     DST="OS=11.2,name=Apple TV"',                   os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=4.0  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode9.2, env: 'SWFT=4.0  PLAT=watchOS  DST="OS=4.2,name=Apple Watch - 38mm"',          os: osx, language: objective-c}

    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=iOS      DST="OS=8.4,name=iPhone 4s"',                   os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=iOS      DST="OS=9.3,name=iPhone 5s"',                   os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=iOS      DST="OS=10.3.1,name=iPhone SE"',                os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=iOS      DST="OS=11.4,name=iPhone SE"        TEST=1',    os: osx, language: objective-c}
    - {osx_image: xcode9.3, env: 'SWFT=4.1  PLAT=tvOS     DST="OS=9.2,name=Apple TV 1080p"',              os: osx, language: objective-c}
    - {osx_image: xcode9.3, env: 'SWFT=4.1  PLAT=tvOS     DST="OS=10.2,name=Apple TV 1080p"',             os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=tvOS     DST="OS=11.4,name=Apple TV"         TEST=1',    os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=macOS    DST="arch=x86_64"                   TEST=1',    os: osx, language: objective-c}
    - {osx_image: xcode9.3, env: 'SWFT=4.1  PLAT=watchOS  DST="OS=2.2,name=Apple Watch - 38mm"',          os: osx, language: objective-c}
    - {osx_image: xcode9.3, env: 'SWFT=4.1  PLAT=watchOS  DST="OS=3.2,name=Apple Watch - 38mm"',          os: osx, language: objective-c}
    - {osx_image: xcode9.4, env: 'SWFT=4.1  PLAT=watchOS  DST="OS=4.3,name=Apple Watch - 38mm"',          os: osx, language: objective-c}

    - {osx_image: xcode10,  env: 'SWFT=4.2  PLAT=iOS      DST="OS=12.0,name=iPhone SE"',                  os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=4.2  PLAT=tvOS     DST="OS=12.0,name=Apple TV"',                   os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=4.2  PLAT=macOS    DST="arch=x86_64"',                             os: osx, language: objective-c}
    - {osx_image: xcode10,  env: 'SWFT=4.2  PLAT=watchOS  DST="OS=5.0,name=Apple Watch Series 3 - 42mm"', os: osx, language: objective-c}

    # Swift 3.2
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=3  SWIFT_VERSION=4.0.3'}
    # Swift 3.3
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=3  SWIFT_VERSION=4.1.2  TEST=1'}
    # Swift 3.4
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=3  SWIFT_VERSION=4.2    TEST=1'}
    # Swift 4.0
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=4  SWIFT_VERSION=4.0.3'}
    # Swift 4.1
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=4  SWIFT_VERSION=4.1.2  TEST=1'}
    # Swift 4.2
    - {os: linux, dist: trusty, sudo: required, language: generic, env: 'SWIFT_BUILD_VERSION=4  SWIFT_VERSION=4.2    TEST=1'}
cache:
  - Tests/JS-A+/build
  - Tests/JS-A+/node_modules
before_install:
  set -e;
  if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    eval "$(curl -sL https://swiftenv.fuller.li/install.sh)";
  else
    if [[ $PLAT == "macOS" ]]; then
      mv .github/PromiseKit.podspec .;
      gem install cocoapods --prerelease --version 1.6.0.beta.1;
    fi;
    if [ "$TEST" == "1" ]; then
      npm install -g npm;
    fi;
  fi
install:
  set -e;
  case $PLAT in
  iOS|tvOS|macOS|watchOS)  
    xcodebuild -scheme PromiseKit -target PromiseKit SWIFT_VERSION=$SWFT -quiet -destination "$DST" SWIFT_TREAT_WARNINGS_AS_ERRORS=YES build;
    if [ "$TEST" == "1" ]; then
      set +e;
      cd Tests/JS-A+;
      set -e;
      npm ci;
      npm run build;
      set +e;
      cd ../..;
      set -e;
      xcodebuild -scheme PromiseKit -quiet -destination "$DST" build;
    fi;;
  *)
    swift build -Xswiftc -swift-version -Xswiftc $SWIFT_BUILD_VERSION;
  esac
script:
  set -e;
  case $PLAT in
  iOS|tvOS|macOS)
    if [[ $TEST == "1" ]]; then
      xcodebuild -scheme PromiseKit -destination "$DST" test -enableCodeCoverage YES;
    fi;
    if [[ $PLAT == "macOS" ]]; then
      pod lib lint --subspec=PromiseKit/CorePromise --fail-fast --swift-version=$SWFT;
    fi;;
  watchOS)
    ;;
  *)
    if [[ $TEST == "1" ]]; then
      swift test -Xswiftc -swift-version -Xswiftc 4;
    fi;;
  esac
after_success:
  if [ "$TRAVIS_OS_NAME" == "osx" && $POD_LINT != "1" ]; then
    bash <(curl -s https://codecov.io/bash);
  fi
