body {
  padding: 2.5rem 0;
}
.post {
  padding: 2.5rem 0;
}

p, h1, h2, h3, ol, ul, pre, aside, .indent {
  margin-left: auto;
  margin-right: auto;
}
pre {
  overflow-x: scroll;
}

@media (min-width: 320px) {
  html {
    font-size: 12px;
  }
  p, h1, h2, h3, ol, ul, aside, .indent {
    margin-left: 16px;
    margin-right: 16px;
  }
  pre {
    padding: 16px;
  }
  .contents {
    font-size: 0.6rem;
  }
}
@media (min-width: 320px) and (orientation: landscape) {
  p, h1, h2, h3, ol, ul, aside, .indent {
    margin-left: 20px;
    margin-right: 20px;
  }
  pre {
    padding: 20px;
    line-height: 1.7;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 20px;
  }
  p, h1, h2, h3, ol, ul, aside, .indent {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  pre {
    min-width: 28rem;
    display: inline-block;
    text-align: left;
    padding: 1rem;
    line-height: 1.4;
  }
  .highlight {
    text-align: center;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
  p, h1, h2, h3, ol, ul, .indent {
    max-width: 38rem;
  }
  pre {
    min-width: 36rem;
  }
  aside {
    min-width: 34rem;
  }
  .contents {
    font-size: 1rem;
  }
}
