<table class="contents">
    <tr>
        <th>PromiseKit 101</th>
        <th>PromiseKit 102</th>
        <th>PromiseKit 103</th>
        <th>PromiseKit Handbook</th>
        <th>PromiseKit Cookbook</th>
    </tr>
    <tr>
    <td valign="top">
        <ol>
        <li><a href="/introduction">Introduction</a></li>
        <li><a href="/then">`then`</a></li>
        <li><a href="/chaining">Chaining</a></li>
        <li><a href="/error-handling">Error Handling</a></li>
        <li><a href="/when">`when`</a></li>
        <li><a href="/finally">`finally`</a></li>
        </ol>
    </td>
    <td valign="top">
        <ol>
        <li><a href="/dispatch-queues">Dispatch Queues</a></li>
        <li><a href="/recovering-from-errors">Recovering From Errors</a></li>
        <li><a href="/breaking-the-chain">Instigating Errors</a></li>
        <li><a href="/tuples">Resolving With Tuples</a></li>
        </ol>
    </td>
    <td valign="top">
        <ol>
        <li><a href="/sealing-your-own-promises">Sealing Your Own Promises</a></li>
        <li><a href="/retain-cycle-considerations">Retain Cycle Considerations</a></li>
        </ol>
    </td>
    <td valign="top">
        <ol>
        <li><a href="/integration">Integrating PromiseKit</a></li>
        <li><a href="/swift">Swift</a></li>
        <li><a href="/api">API Overview</a></li>
        <li><a href="/cocoapods">Cocoapods</a></li>
        <li><a href="/troubleshooting">Troubleshooting</a></li>
        <li><a href="/appendix">Appendix</a></li>
        <li><a href="/glossary">Glossary</a></li>
        </ol>
    </td>
    <td valign="top">
        <ol>
        <li><a href="/wrapping-delegation">Wrapping Delegation</a></li>
        <li><a href="/partial-recovery">Partial Recovery</a></li>
        <li><a href="/cache-n-fetch">Cache ’n’ Fetch</a></li>
        <li><a href="/abstracting-away-asynchronicity">Abstracting Away Asynchronicity</a></li>
        <li><a href="/Web-API-classes">Building Web API Helper Classes</a></li>
        <li><a href="/promises-and-ux">Promises &amp; UX</a></li>
        </ol>
    </td>
    </tr>
</table>
