on:
  workflow_dispatch:
  pull_request:
    paths:
      - PromiseKit.podspec
jobs:
  lint:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - run: pod lib lint --fail-fast
